$main-color: #f9a366;
$nav-color: #f4d19d;
$btn-color: #ffc393;
$bg-color: #ffe9d9;
$strong-color: #d98038;
$text-color: #696969;
$shadow: rgba(0, 0, 0, 0.2);

body {
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    color: $text-color;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

button {
    font-family: inherit;
}

#nav-bar {
    background-color: $nav-color;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    img {
        height: 2em;
        width: auto;
    }

    #deco-block {
        background-color: $bg-color;
        height: 2em;
        width: 100%;
        border-radius: 0 10em 0 0;
    }
}

.tool-btn {
    width: 100%;
    min-height: 13em;
    background-color: white;
    border: 0;
    border-radius: 0.35em;
    box-shadow: 1px 4px 2px $shadow;
    color: $main-color;
    padding: 1em;

    img {
        max-height: 7em;
        object-fit: contain;
    }
}

.w-1em {
    width: 1em;
}

.w-1-5em {
    width: 1.5em;
}

.w-2em {
    width: 2em;
}

.w-5em {
    width: 5em;
}

.w-10em {
    width: 10em;
}

.h-18em {
    height: 18em;
}

.h-22em {
    height: 22em;
    max-height: 22em;
}

.t-16em {
    top: 16em;
}

.font-color {
    color: $main-color;
}

.final-page {
    background-image: url("/images/parking.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-block {
    min-height: 4em;
    background-color: $btn-color;
    border: 0;
    color: $text-color;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.8em 3em;
}

.footer-message-r {
    border-radius: 12em 0 0 0;
    justify-content: flex-end;
    margin-left: auto;
    width: fit-content;
}

.footer-btn-l,
.footer-btn-r {
    min-height: 4em;
    width: 100%;
    background-color: $btn-color;
    border: 0;
    color: $text-color;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.8em 1.5em;
}

.footer-btn-l {
    border-radius: 0 0.5em 0 0;
    box-shadow: 2px 1px 2px $shadow;
    justify-content: flex-start;
}

.footer-btn-r {
    border-radius: 0.5em 0 0 0;
    box-shadow: -2px 1px 2px $shadow;
    justify-content: flex-end;
}

.numberPad {
    width: 100%;
    background-color: $nav-color;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0.5em;
    box-shadow: 2px 2px 1px $shadow;
    padding: 3px;

    td {
        min-width: 100px;
        background-color: $main-color;
        border: transparent solid 1px;
        border-radius: 5px;
        box-shadow: 2px 2px 1px #979797;
        color: white;
        cursor: pointer;
        font-size: larger;
        font-weight: bold;
        padding: 0.4em 0.5em;
        text-align: center;
        transition: 0.2s all;
        user-select: none;

        &:active {
            background-color: $strong-color;
            border-bottom: $bg-color solid 1px;
            border-right: $bg-color solid 1px;
            box-shadow: inset 2px 2px 5px rgba(68, 36, 0, 0.3);
            transition-duration: 2ms;
        }
    }
}

.car-plate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate-img {
    height: 215px;
    background-image: url("/images/carPlate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate-input {
    width: 75%;
    background-color: transparent;
    border: none;
    color: $main-color;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;

    &::placeholder {
        color: $main-color;
        font-size: 32px;
        text-align: center;
    }

    &:focus {
        outline: none;
    }
}

.back-tag {
    color: transparent !important;
    padding-right: 25px !important;
    position: relative;

    &::before {
        width: 35px;
        height: 20px;
        background-image: url("/images/backArrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.car-pics-list {
    display: flex;
    gap: 1em;
    justify-content: center;
    overflow-y: auto;
    padding: 1em;
}

.car-pic {
    height: 215px;
    object-fit: contain;
}

.selectedPic {
    border: $main-color 3px solid;
    border-radius: 5px;
}

.payment-panel {
    min-height: 20em;
    border: 3px solid $btn-color;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.35);
}

.payment-btn {
    min-width: 18em;
    min-height: 4em;
    background-color: $main-color;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 1px #979797;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1em;
    text-align: start;

    img {
        max-height: 2em;
        max-width: 2em;
        margin-right: 0.8em;
    }
}

.payment-method-img {
    max-height: 18em;
    max-width: 80%;
    object-fit: contain;
}

.overlay {
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.cus-message {
    z-index: 200;
    display: flex;
    position: relative;
    top: -45%;
    width: 100%;
    background-color: $bg-color;
}

@media (max-width: 576px) {
    .numberPad td {
        min-width: 64px;
    }

    .plate-input {
        font-size: 36px;
    }

    .payment-btn {
        min-width: 100%;
    }
}
